:root {
  --primary-color: #59196e;
  --primary-color-light: #c37bd3;
  --secondary-color: #166126;
  --secondary-color-light: #8fb798;
  --bar-height: 80px;
  --default-spacing: 20px;
}

header {
  background-color: var(--primary-color);
  color: white;
  height: var(--bar-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: var(--default-spacing);
}

.name > img {
  height: 60px;
}

nav > a {
  color: white;
  margin-left: 10px;
  padding: 15px;
}

nav > a.active {
  background-color: var(--secondary-color-light);
  border-radius: 8px;
  color: black;
}

main {
  min-height: calc(100vh - 2 * var(--bar-height));
  padding: var(--default-spacing);
}

footer {
  background-color: var(--secondary-color-light);
  height: var(--bar-height);
  padding: var(--default-spacing);
}

footer > a {
  color: black;
}

.list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  gap: var(--default-spacing);
}

.list-item {
  border: 2px solid var(--primary-color-light);
  padding: var(--default-spacing);
  border-radius: 8px;
}

.list-item > h3 {
  margin-top: 0;
}

