:root {
  --primary-color: #59196e;
  --primary-color-light: #c37bd3;
  --secondary-color: #166126;
  --secondary-color-light: #8fb798;
  --bar-height: 80px;
  --default-spacing: 20px;
}

header {
  background-color: var(--primary-color);
  color: white;
  height: var(--bar-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}


main {
  min-height: calc(100vh - 2 * var(--bar-height));
  padding: var(--default-spacing);
}

footer {
  background-color: var(--secondary-color-light);
  height: var(--bar-height);
  padding: var(--default-spacing);
}

footer > a {
  color: black;
}

