{{page-title "Photos"}}
<h2>Responsive photo gallery with <code>display:flex</code></h2>
<div class="photo-container">
  <div class="photo-item"><img  alt="A colorful sign with the text you belong" src="../images/you-belong.jpg" /></div>
  <div class="photo-item"><img class="photo-item" alt="random" src="../images/code.jpg" /></div>
  <div class="photo-item"><img class="photo-item" alt="random" src="../images/coffee.jpg" /></div>
  <div class="photo-item"><img class="photo-item" alt="random" src="../images/brushes.jpg" /></div>
</div>